$red: #c01023;
$primary: #b98e82;
$primary-light: #dbcfcb;
$black: #000;
$gray-light: #f2f2f2;
$gray-dark: #b3b3b3;
$input-bg: $gray-light;
$input-border-radius: 0px;
$dark: #1a1a1a;
$danger: #9a0d1c;
$gray-800: #333;
$gray-600: #5f5e5e;
$red-light: #7e131f;
$radio-color: #b79387;
$green: #215f61;
$hr-color: #474645;
